html, body, #root {
	font: 300 1rem/1.6 Helvetica Neue, Helvetica, sans-serif;
	height: 100%;
}

a {
	color: #61dafb;
	text-decoration: none;
}

#root {
	display: flex;
	flex-direction: column;
}

.col-full	{
	max-width: 1600px;
	padding: 0 1em;
	margin-left: auto;
	margin-right: auto;
}